.social-share {
  $circle: 35px;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(5,1fr);
  margin-top: 0.5rem;
  .share-btn {
    height: $circle;
    width: $circle;
    background-color: $primary_color;
    color: $secondary_color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    i {
      line-height: normal;
    }
    &.copy {
      .fa-link {
        backface-visibility: hidden;
        @include transition(transform);
      }
      .fa-check {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary_color;
        transform: translate(-50%,-50%) rotateY(180deg);
        @include transition(transform);
        backface-visibility: hidden;
        z-index: -1;
      }
      .copy-link {
        overflow: hidden;
        opacity: 0;
        position: absolute;
        z-index: -1;
        height: 0;
      }
      &.active {
        .fa-check {
          transform: translate(-50%,-50%) rotateY(0deg);
          z-index: 1;
        }
        .fa-link {
          transform: rotateY(180deg);
        }
      }
    }
  }
}