//Color Variables
$black: #000;
$white: #fff;
$blue: #3e73cb;
//Theme colors
$text_color: $black;
$primary_color: $blue;
$secondary_color: $white;
//Mobile Breakpoints
$size-x-large: 1280px;
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//Transition
$transition_duration: .5s;
//Fonts
$header-font: 'Helvetica', sans-serif;
$body-font: 'Helvetica', sans-serif;