<div class="pure-g form-container">
    <form class="signup-form" action="{{ include.form-url }}" method="POST" target="receiver">
        <div class="pure-u-1 pure-u-md-1-2">
            <!-- First Name -->
            <input class="firstName" type="text" name="firstname" placeholder="First Name">
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <!-- Last Name -->
            <input class="lastName" type="text" name="lastname" placeholder="Last Name">
        </div>
        <div class="pure-u-1 pure-u-md-3-4">
            <!-- Email -->
            <input class="email" type="email" name="email" placeholder="Email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required oninvalid="setCustomValidity('Please enter a valid email address')" onchange="setCustomValidity('')" >
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
            <!-- Zip -->
            <input class="zip" type="zip" name="zip" placeholder="Zip code" maxlength="5" required id="zip" oninvalid="setCustomValidity('Please enter a valid zip code')" onchange="setCustomValidity('')" pattern="\d{5}-?(\d{4})?">
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
            <!-- Phone -->
            <input type="phone" placeholder="Phone" required pattern="^\(*\+*[1-9]{0,3}\)*-*[1-9]{0,3}[-. /]*\(*[2-9]\d{2}\)*[-. /]*\d{3}[-. /]*\d{4} *e*x*t*\.* *\d{0,4}$" oninvalid="setCustomValidity('Please enter a valid phone number')" onchange="setCustomValidity('')" >
        </div>

        <div class="pure-u-1 form-field">
            <!-- Submit -->
            <input class="submit pure-button" type="submit" class="pure-button" name="submit" value="I'm In">
        </div>
    </form>
</div>
