{% if site.gtm %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ site.gtm }}');</script>
<!-- End Google Tag Manager -->
{% endif %}
<meta charset="utf-8">
{% if page.url == "/404.html" %}
<meta http-equiv="refresh" content="3; url=/">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Title and Meta Text -->
<title>{{ site.title }}</title>
<meta content="{{ site.description }}" name="description">
<link rel="canonical" href="{{ site.url }}{{ page.url | remove: ".html" }}" />
<!-- Facebook Meta -->
<meta property="og:url" content="{{ site.url }}{{ page.url | remove: ".html" }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ site.meta_img }}">
<!-- Twitter Meta -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.twitter }}">
<meta name="twitter:creator" content="{{ site.twitter }}">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.meta_img }}">
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "{{ site.schema.type }}",
    "name": "{{ site.schema.name }}",
    "image": "{{site.url}}{{ site.schema.image }}",
    "logo": "{{ site.url }}{{site.schema.logo }}",
    "url": "{{ site.url }}",
    "telephone": "{{ site.schema.phone }}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ site.schema.location.address }}",
      "addressLocality": "{{ site.schema.location.city }}",
      "addressRegion": "{{ site.schema.location.state }}",
      "postalCode": "{{ site.schema.location.zip }}",
      "addressCountry": "USA"
    },
    {% if site.schema.hours.days != '' %}
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
      {{ site.schema.hours.days | split: "," | join: "," }}
      ],
      "opens": "{{ site.schema.hours.open }}",
      "closes": "{{ site.schema.hours.close }}"
    },
    {% endif %}
    "sameAs": 
    {{ site.schema.social | split: "," | join: "," }}
    
  }
  </script>
<!-- Pure CSS-->
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!-- CSS -->
{% include base.html %}
<link href="{{ base }}/css/style.css" rel="stylesheet" type="text/css">
<!-- Page CSS --> 
{% if layout.css %}
  {% assign page-css = layout.css %}
{% endif %}
{% if page.css %}
  {% assign page-css = page.css %}
{% endif %}
{% if page-css %}
<link rel="stylesheet" href="{{ base }}/css/{{ page-css }}.css">
{% endif %}
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Favicon -->
<link rel="icon" href="{{ site.favicon }}">
<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
