{% if include.layout == 'buttons' %}
{% assign facebookId = 'APP-ID' %}
<div class="social-share buttons">
    <a class="fb-link" onclick="window.open('https://www.facebook.com/dialog/share?href={{ include.url }}&app_id={{ facebookId }}','Share on Facebook','toolbar=0,status=0,resizable,height=520,width=350');gtag('event', 'Click', {'event_category': 'Social Share','event_label': 'Facebook'});">
        <span class="fa-stack fa-lg">
            <i class="fa fa-stack-2x fa-circle"></i>
            <i class="fa fa-stack-1x fa-facebook"></i>
        </span>
    </a>
    <a class="tweet-link" href="https://twitter.com/intent/tweet?text={{ include.tweet | truncate: 114, '...' | url_encode }}&url={{ include.url }}" {% include ga-event.html category='Social Share' label='Twitter' %}>
        <span class="fa-stack fa-lg">
            <i class="fa fa-stack-2x fa-circle"></i>
            <i class="fa fa-stack-1x fa-twitter"></i>
        </span>
    </a>
</div>
{% elsif include.layout == 'links' %}
<div class="social-share links">
    <a onclick="window.open('https://www.facebook.com/dialog/share?href={{ include.url }}&app_id={{ facebookId }}','Share on Facebook','toolbar=0,status=0,resizable,height=520,width=350');ga('send', 'event', 'Button', 'Click', 'Share Facebook');gtag('event', 'Click', {'event_category': 'Social Share','event_label': 'Facebook'});" class="fb-link">
        <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ include.tweet | truncate: 114, '...' | url_encode }}&url={{ include.url }}" target="_blank" {% include ga-event.html category='Social Share' label='Twitter' %} class="tweet-link">
        <i class="fa fa-twitter"></i>
    </a>
</div>
{% else %}
<div class="social-share links">
    <a onclick="window.open('https://www.facebook.com/dialog/share?href={{ include.url }}&app_id={{ facebookId }}','Share on Facebook','toolbar=0,status=0,resizable,height=520,width=350');ga('send', 'event', 'Button', 'Click', 'Share Facebook');gtag('event', 'Click', {'event_category': 'Social Share','event_label': 'Facebook'});" class="fb-link">
        <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ include.tweet | truncate: 114, '...' | url_encode }}&url={{ include.url }}" target="_blank" {% include ga-event.html category='Social Share' label='Twitter' %} class="tweet-link">
        <i class="fa fa-twitter"></i>
    </a>
</div>
{% endif %}
