//Custom Styles
//Color Variables
$charcoal: #333;
$white: #fff;
$blue: #3e73cb;

//Theme colors
$text_color: $charcoal;
$primary_color: $blue;
$secondary_color: $white;
//Body and Heading text Colors
$body_txt: $text_color;
$body_link: $primary_color;
$body_link_hover: darken($primary_color,15%);
$heading: $text_color;
//Footer Colors
$footer_bg: $primary_color;
$footer_txt: $secondary_color;
$copyright_link: $body_link;
$copyright_link_hover: $body_link_hover;
//Header Colors
$header_bg: $primary_color;
$header_txt: $secondary_color;
//Button Colors
$button_bg: $primary_color;
$button_txt: $secondary_color;
$hover_button_bg: $secondary_color;
$hover_button_txt: $primary_color;
//BSD Form Colors
$form_bg: $secondary_color;
$form_txt: $text_color;
$form_btn_bg: $primary_color;
$form_btn_txt: $secondary_color;
//Mobile Breakpoints
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//Padding for Sections and Grids
$grid-gutters: 0.5em 1em;
$header-padding: 1em;
$body-padding: 1em 3em;
$body-padding-mobile: 1em;
$footer-padding: 3em 1em;
$transition_duration: .5s;
//Mixins
@import "mixins";
@include gridGutters($grid-gutters);
@include headerPadding($header-padding);
@include bodyPadding($body-padding);
@include footerPadding($footer-padding);
//Start Theme Customizations below:
