//Custom Styles
//Brand Colors
$brand_lt_blue: #00AEF3;
$brand_dk_blue: #0F2446;
$brand_alt_blue: #00589C;
$brand_white: #fff;
$brand_red: #E31818;
$brand_dk_red: #841618;
$brand_yellow: #FFDD00;
$brand_orange: #F15822;
$brand_gray: #F6F6F6;
$brand_black: #000;
$brand_teal: #00a87d;
$brand_green: #29763B;
$brand_purple: #A4288C;
$brand_dk_purple: #4D2073;
//Theme colors
$text_color: $brand_dk_blue;
$primary_color: $brand_lt_blue;
$secondary_color: $brand_white;
//Body and Heading text Colors
$body_txt: $text_color;
$body_link: $primary_color;
$body_link_hover: darken($primary_color,15%);
$heading: $text_color;
//Footer Colors
$footer_bg: $primary_color;
$footer_txt: $secondary_color;
$copyright_link: $body_link;
$copyright_link_hover: $body_link_hover;
//Header Colors
$header_bg: $primary_color;
$header_txt: $secondary_color;
//Button Colors
$button_bg: $primary_color;
$button_txt: $secondary_color;
$hover_button_bg: $secondary_color;
$hover_button_txt: $primary_color;
//BSD Form Colors
$form_bg: $secondary_color;
$form_txt: $text_color;
$form_btn_bg: $primary_color;
$form_btn_txt: $secondary_color;
//Mobile Breakpoints
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//Padding for Sections and Grids
$grid-gutters: 0.5em 1em;
$header-padding: 1em;
$body-padding: 1em 3em;
$body-padding-mobile: 1em;
$footer-padding: 3em 1em;
$transition_duration: .5s;
//Mixins
@import "mixins";
@include gridGutters($grid-gutters);
@include headerPadding($header-padding);
@include bodyPadding($body-padding);
@include footerPadding($footer-padding);
//Start Theme Customizations below:
