//Default Transition
@mixin transition($prop...) {
	-webkit-transition-property: $prop;
	-moz-transition-property: $prop;
	-o-transition-property: $prop;
	transition-property: $prop;
	-webkit-transition-duration: $transition_duration;
	-moz-transition-duration: $transition_duration;
	-o-transition-duration: $transition_duration;
	transition-duration: $transition_duration;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	transition-timing-function: ease;
}
//Transform
@mixin transform($prop...) {
	-webkit-transform: $prop;
	-moz-transform: $prop;
	transform: $prop;
}
//Headings
@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}
//box shadow
$default-shadow: 0px 3px 5px rgba(100, 100, 100, 0.5);
@mixin box-shadow($prop: $default-shadow) {
  -webkit-box-shadow: $prop;
  -moz-box-shadow: $prop;
  box-shadow: $prop;
}
//Breakpoints for mobile
@mixin bp-large {
  @media only screen and (max-width: $size-large) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: $size-medium) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: $size-small) {
    @content;
  }
}
// Add Gutters - include in any section you want to have gutters, such as the form
@mixin gridGutters($grid-gutters) {
	//Gutter Padding Method
	.pure-g  div[class*="pure-u-"] {
		padding: $grid-gutters;
	}
}
//Mixin if you want equal-height columns
@mixin flexGrid($gutter-border,$grid-bg) {
	padding: 0;
	border-width: $gutter-border;
	border-color: $grid-bg;
	border-style: solid;
}
