//Color Variables
$charcoal: #333;
$white: #fff;
$blue: #3e73cb;
//Theme colors
$text_color: $charcoal;
$primary_color: $blue;
$secondary_color: $white;
//Mobile Breakpoints
$size-x-large: 1280px;
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//Padding for Sections and Grids
$grid-gutters: 0.5rem 1rem;
$transition_duration: .5s;
//Mixins
@include gridGutters($grid-gutters);
//Fonts
$header-font: 'Helvetica', sans-serif;
$body-font: 'Helvetica', sans-serif;