server {
    listen       80;
    server_name  {{ app_admin_hostname }};
    
    location / {
        proxy_read_timeout 120;
        
        proxy_pass http://{{ app_admin_hostname}}:8080;
        proxy_set_header        Host            $host;
        proxy_set_header        X-Real-IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
