---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% if site.gtm %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    {% if site.age-gate == true %}
    {% include age-gate.html %}
    {% endif %}
    {% if layout.content-id %}
    {% assign page-id = page.content-id %}
    {% endif %}
    {% if page.content-id %}
    {% assign page-id = page.content-id %}
    {% endif %}
    <main id="{{ content-id }}">
    {{ content }}
    </main>
    <!-- Scripts -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% if site.age-gate == true %}
    <!-- age gate scripts -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{{ '/js/min/age-gate.min.js' | relative_url }}"></script>
    {% endif %}
    <!-- Sitewide scripts  -->
	<script src="{{ '/js/min/site_functions.min.js' | relative_url }}"></script>
    <!-- Layout -->
    {% if layout.scripts %}
    {% for script in layout.scripts %}
    {% capture script-path %}/js/min/{{ script }}.min.js{% endcapture %}
    <script src="{{ script-path | relative_url }}"></script>
    {% endfor %}
    {% endif %}
    <!-- Page -->
    {% if page.scripts %}
    {% for script in page.scripts %}
    {% capture script-path %}/js/min/{{ script }}.min.js{% endcapture %}
    <script src="{{ script-path | relative_url }}"></script>
    {% endfor %}
    {% endif %}
    <!-- End Scripts -->

</body>
</html>
